*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  color: white;
  background-color: rgba(39, 39, 39, 0.8);
}

.menuButton {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  margin-left: 0.5rem;
  color: white;
}

.logo {
  margin-left: 1rem;
}

.logoText {
  font-size: 24px;
  color: white;
}

.navDesktop {
  display: none;
  justify-content: flex-end;
  gap: 1rem;
}

.navLink {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}
.navLink:hover{
  color: #00abf0;
  text-decoration: underline;
}

/* Mobile Menu */
.navMobile {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: rgba(39, 39, 39, 0.9);
  padding: 1.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 40;
}

.mobileList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  list-style-type: none;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .menuButton {
    display: none;
  }

  .navDesktop {
    display: flex;
    flex-grow: 1;
  }
}

/* home page styling */
#home {
  height: 100vh; 
  background-image: url('../../public/bgimg.jpg'); 
  background-size: cover; 
  background-position: center; 
  display: flex;
  align-items: center;
  color: white;
  padding: 0 10%;
}
.home-content {
   max-width: 600px;
}
.home-content h1{
  animation: bouncing 0.5s ease 0s infinite alternate both;
  position: relative;
  font-size: 56px;
  font-weight: 700;
}
.home-content h1::before{
content: '';
position: absolute;
top: 0;
right: 0;
width: 100%;
height: 100%;
animation: showRight 1s ease forwards;
animation-delay: .1s;
background: #081b29;
}
.home-content h3{
  animation: bouncing 0.5s ease 0s infinite alternate both;
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}
.home-content h3::before{
content: '';
position: absolute;
top: 0;
right: 0;
width: 100%;
height: 100%;
animation: showRight 1s ease forwards;
animation-delay: 1.3s;
background: #081b29
}
.home-content p{
  animation: bouncing 0.5s ease 0s infinite alternate both;
  position: relative;
  padding-top :6px;
  font-size: 18px;
  line-height: 25px;
} 
.home-content p::before{
content: '';
position: absolute;
top: 0;
right: 0;
width: 100%;
height: 100%;
animation: showRight 1s ease forwards;
animation-delay: 1.6s;
background: #081b29
}
/* Keyframes animation */
@keyframes showRight{
100%{
  width: 0;
}
}
@keyframes bouncing{
0%{
  bottom: 0;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
100%{
  bottom: 30px;
  box-shadow: 0 50px 50px rgba(0,0,0,0.1);
}
} 


/* Media Queries for responsive design */
@media (max-width: 768px) {
  #home {
    padding: 0 5%;
  }

  .home-content h1 {
    font-size: 40px;
  }

  .home-content h3 {
    font-size: 24px; 
  }

  .home-content p {
    font-size: 18px; 
  }
}

@media (max-width: 480px) {
  #home {
    padding: 0 2%; 
  }

  .home-content h1 {
    font-size: 35px; 
  }

  .home-content h3 {
    font-size: 24px; 
  }

  .home-content p {
    font-size: 18px; 
  }
}

/* About page */
#about{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: black;
  color: white;
}
.row{
  width: 100%;
  padding: 50px 100px;
}
#about-img {
  width: 25%;
  float: left;
  height: 500px; 
  background-image: url('../../public/myimg.jpeg'); 
  background-size: cover;
  background-position: center; 
  border-radius: 50%;
  position: relative; 
  animation: bouncing-with-shadow 0.5s ease 0s infinite alternate both; 
  margin-top: 70px;
  margin-right: 30px;
}
.content{
  width: 60%;
  float: left;
  margin-left: 10px;
}
.content h1{
  position: relative;
  font-size: 70px;
  margin-top: 80px;
  border: 4px solid #00abf0;
  box-shadow: 0px 8px 8px #00abf0;
}
.content h1::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: .1s;
  background: #081b29;
}
.content h3{
  position: relative;
  font-size: 40px;
  margin-top: 50px;
}
.content h3::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
  background: #081b29
}
.content p{
  position: relative;
  font-size: 20px;
  margin-top: 25px;
  line-height: 35px;
}
.content p::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
  background: #081b29
}

/* keyframe animation */
@keyframes bouncing-with-shadow{
  0%{
    bottom: 0;
    box-shadow: 0 0 8px #00abf0;
  }
  100%{
    bottom: 30px;
    box-shadow: 0px 20px 20px #00abf0;
  }
 }

/* Media queries for small screens */
@media (max-width: 768px) {
  .row {
    padding: 20px;
  }
  
  #about-img {
    width: 80%;
    height: 400px;
    margin-top: 100px;
    margin-left:auto;
    margin-bottom: 30px;
    float: none;
  }

  .content {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .content h1 {
    font-size: 50px;
    margin-top: 20px;
  }

  .content h3 {
    font-size: 30px;
    margin-top: 20px;
  }

  .content p {
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 480px) {
  .content h1 {
    font-size: 45px;
  }

  .content h3 {
    font-size: 28px;
  }

  .content p {
    font-size: 18px;
    line-height: 22px;
  }
}

/* Skills page */
#skills{
  background: black;
  height: 100vh;
}
.wrapper{
  width: 40%;
  min-width: 500px;
  position: absolute;
  transform: translate(-50%,-50%);
  margin-left: 50%;
  margin-top: 25%;
}
.container{
  width: 100%;
  padding: 50px 30px;
  background-color: rgba(255,255,255,0.06);
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0,0,0,0.2);
  backdrop-filter: blur(10px);
}
.shape-1{
  height: 220px;
  width: 220px;
  background: linear-gradient(
    #ff0e72,
    #ff66a6
  );
  border-radius: 50%;
  position: absolute;
  bottom: -100px;
  left: -80px;
  z-index: -1;
}
.shape-2{
  height: 180px;
  width: 180px;
  background: linear-gradient(
    #40a4df,
    #043c96
  );
  border-radius: 50%;
  position: absolute;
  top: -100px;
  right: -50px;
  z-index: -1;
}
.container *{
  font-family: "Poppins",sans-serif;
  color: #ffffff;
  font-weight: 600;
}
#head-2{
  margin-bottom: 40px;
  letter-spacing: 2px;
} 
.myskills:not(:last-child){
  margin-bottom: 30px;
}
.details{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.bar{
  position: relative;
  background-color: rgba(255, 255, 255, 0.06);
  padding: 7px 10px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}
.bar div{
  position: relative;
  width: 0;
  height: 5px;
  border-radius: 10px;
  background-color: #badefc;
  border: 1px solid #1c97fc;
  box-shadow: 0 0 5px rgba(28,151,252,0.6);
}

/* keyframe animation */
#html-bar{
  animation: html-fill 2s forwards;
}
@keyframes html-fill {
  100%{
    width: 80%;
  }
}
#css-bar{
  animation: css-fill 2s forwards;
}
@keyframes css-fill {
  100%{
    width: 70%;
  }
}
#ts-bar{
  animation: ts-fill 2s forwards;
}
@keyframes ts-fill {
  100%{
    width: 85%;
  }
}
#nextjs-bar{
  animation: next-fill 2s forwards;
}
@keyframes next-fill {
  100%{
    width: 50%;
  }
}

/* Responsive CSS */
@media (max-width: 480px) {
  #skills {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100vh; 
  }

  .wrapper {
    min-width: 100px;
    width: 100%; 
    margin: 0 auto;
    transform: none; 
    padding-top: 0;
    position: relative;
  }

  .container {
    width: 85%;
    padding: 15px;
    margin: 0 auto;
    box-sizing: border-box; 
  }

  .shape-1, .shape-2 {
    display: none; 
  }

  #head-2 {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
  }

  .details {
    font-size: 14px;
  }

  .bar {
    padding: 5px;
    height: 16px;
    overflow: hidden;
  }

  .bar div {
    height: 8px;
    max-width: 100%; 
  }
}

/* education page */
#education{
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}
.edu-img{
  margin-top: 100px;
  margin-bottom: 30px;
  animation: Bouncing-edu-img 0.5s ease-in-out 0s infinite alternate both;
  background-image: url('../../public/myimg.jpeg');
  background-size: cover;
  width: 300px;
  height: 400px;
  border-radius: 50%;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}
.edu-container{
  text-align: center;
  width: 50%;
  color: white;
  padding: 40px;
  border-radius: 20px;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}
.edu-container h1{
   font-size: 50px;
   margin-bottom: 30px;
   color: #00abf0; 
}
.edu-container ul{
  font-size: 23px;
  line-height: 40px;
  padding-left: 0;
}
.edu-container li{
  list-style-type: disc;
  margin-left: 24px;
} 

/* Keyframes for bounce effect */
@keyframes Bouncing-edu-img {
  0% {
    transform: translateY(0); 
  }
  100% {
    transform: translateY(-20px); 
  }
}

@media (max-width: 480px) {
  .edu-img {
    width: 200px;
    height: 250px;
  }
  .edu-container{
    width: 70%;
    padding: 20px;
  }
  .edu-container h1 {
    font-size: 28px;
  }

  .edu-container ul {
    font-size: 20px;
    line-height: 25px;
  }
}

/* contact page */
#contact{
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.cont-content{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.cont-content h1{
  font-size: 50px;
  color: #00abf0;
  margin-top: 30vh;
}
.cont-content p{
  margin-top: 20px;
  font-size: 20px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  #contact {
    padding: 20px;
    height: 100vh; 
  }

  .cont-content {
    width: 80%;
    margin-top: 10vh;
  }

  .cont-content h1 {
    font-size: 40px; 
    margin-top: 20vh;
  }

  .cont-content p {
    font-size: 18px; 
  }
}

@media (max-width: 480px) {
  .cont-content {
    width: 90%;
    margin-top: 5vh;
  }

  .cont-content h1 {
    font-size: 35px; 
    margin-top: 15vh;
  }

  .cont-content p {
    font-size: 18px; 
  }
}

/* Footer*/
.footer {
  text-align: center;
  background-color: rgba(43, 40, 40, 0.897);
  padding: 40px 20px;
  border-top: 4px solid white;
}

.footer-text {
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
}

.footer-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  color: white;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.footer-link:hover {
  transform: scale(1.1); 
}

.icon {
  width: 40px;
  height: 40px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 2px; 
  transition: background-color 0.2s ease;
}

.footer-link:hover .icon {
  background-color: #111827; 
}

.footer-rights {
  font-size: 16px;
  color: white;
  margin-top: 30px;
}


